<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KidForIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>KidForMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E7EBF791E1A45CB001A57D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E91319F1E12699500D6B2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEEA9511E1520CE0098CA01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEEA9671E1603720098CA01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF780511E189F930047EAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF7806C1E18A37C0047EAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
